* {
  margin: 0;
  padding: 0;
}

.popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4)
}

.popup--content {
  background-color: #fefefe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #888;
  width: 30%;
  height: fit-content;
}

.popup--content-message {
  font-family: Roboto;
  font-weight: 400;
  color: #393939;
  margin-bottom: 20px;
  width: 85%;
  text-align: center;
}

.popup--content-Done {
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
  width: 40%;
  height: 50px;
}

.popup--content-autoMessage {
  margin-top: 20px;
}

.popup--content-Done {
  background: rgba(0, 131, 38, 0.9);
  border-radius: 5px;
  border: none;
}

.popup--content-autoMessage {
  color: #7C7C7C;
  width: 50%;
  text-align: center;
}

.popup--content-vision {
  color: #00682C;
}