<main class="main">
  <section class="main--header">
    <div class="main--header-title">
      <div class="main--header-titleWhite">Make A Smile,</div>
      <div class="main--header-titleGreen">Share Happiness</div>
    </div>
    <div class="main--header-star">
      <div class="main--header-starGreen"></div>
      <div class="main--header-starGray"></div>
    </div>
    <p class="main--header-description">
      Help Us Save Lives with Your Donation
      Support of ongoing patrons like you powers our awareness programs, training programs, provide patient support and
      conduct hospital programs to improve organ donation rate in India.
    </p>
    <div class="main--header-request">
      <button class="main--header-forYou"><a href="/request" class="main--header-forYouA">For You</a></button>
      <button class="main--header-helpOthers"><a href="/help-other" class="main--header-helpOthersA">Help
          Others</a></button>
    </div>
  </section>

  <section class="main--header-ourVision">
    <div class="main--header-ourVisionWhat">
      <h1 class="main--header-ourVision-h1">What we do?</h1>
      <p class="main--header-ourVision-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga
        consequatur mollitia impedit qui.
        Voluptates reiciendis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga consequatur
        mollitia impedit qui. Voluptates reiciendis. dolor sit amet consectetur adipisicing elit.-- impedit q </p>
    </div>
    <div class="main--header-ourVisionVision">
      <h1 class="main--header-ourVision-h1">Our vision</h1>
      <p class="main--header-ourVision-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga
        consequatur mollitia impedit qui.
        Voluptates reiciendis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga consequatur
        mollitia impedit qui. Voluptates reiciendis. dolor sit amet consectetur adipisicing elit.-- impedit q </p>
    </div>
  </section>

  <section class="main--header-how">
    <div class="main--header-howDonate">
      <h1 class="main--header-how-h1">How to Donate</h1>
      <p class="main--header-how-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga
        consequatur mollitia impedit qui.
        Voluptates reiciendis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga consequatur
        mollitia impedit qui. Voluptates reiciendis. dolor sit amet consectetur adipisicing elit.-- impedit q </p>
    </div>
    <div class="main--header-howBenefit">
      <h1 class="main--header-how-h1">How to Benefit </h1>
      <p class="main--header-how-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga
        consequatur mollitia impedit qui.
        Voluptates reiciendis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fuga consequatur
        mollitia impedit qui. Voluptates reiciendis. dolor sit amet consectetur adipisicing elit.-- impedit q </p>
    </div>
  </section>
</main>

<footer class="footer">
  <h1>Contact Us</h1>
  <div class="footer--contactUs">
    <form class="footer--contactUs-form">
      <label for="fullName">
        <input id="fullName" class="footer--contactUs-formFullName" type="text" name="fullName"
          placeholder="Enter your Full Name ..." required>
      </label>
      <label for="email">
        <input id="email" class="footer--contactUs-formEmail" type="email" name="email"
          placeholder="Enter your Email ..." required>
      </label>
      <label for="message">
        <input id="message" class="footer--contactUs-formMessage" type="text" name="message"
          placeholder="Enter your Message ..." required>
      </label>
      <button class="footer--contactUs-formSubmit" type="submit">Submit</button>
    </form>
  </div>

  <div class="footer--register">
    <h3 class="footer--registerMsg1">REGISTER FOR OUR EMAIL UPDATE </h3>
    <h5 class="footer--registerMsg2">Stay up to date with our events</h5>
    <form class="footer--form">
      <label for="registerEmail">
        <input id="registerEmail" class="footer--form-registerEmail" type="email" name="email"
          placeholder="Enter your Email ..." required>
      </label>
    </form>
    <h3 class="footer--connectionMsg1">STAY CONNECTED WITH</h3>
    <h4 class="footer--connectionMsg2">Enhance A Smile</h5>
      <div class="footer--connectionIcons">
        <img alt="facebook" src="icons/facebook.png">
        <img alt="googlePlus" src="icons/google-plus.png">
        <img alt="twitter" src="icons/twitter.png">
        <img alt="telegram" src="icons/telegram.png">
        <img alt="youtube" src="icons/youtube.png">
      </div>
  </div>
</footer>
{{!-- pop-up --}}
<div class="popup">
  <div class="popup--content">
    <h2 class="popup--content-message">We received your Email, we will send you our news.</h2>
    <input class="popup--content-Done" value="Done" type="button">
    <h4 class="popup--content-autoMessage">By using our service you push us a step forward to achieving our <a href="/" class="popup--content-vision">vision</a></h4>
  </div>

</div>