<aside class="sidebar">
    <div class="admin-tabs">
        <div class="profile">
            <i class="far fa-user-circle"></i>
            <span class="text profile">Profile</span>
        </div>
        <div class="donates">
            <i class="fas fa-clipboard-list"></i>
            <span class="text donates">Donates</span>
        </div>
        <div class="requests">
            <i class="fas fa-clipboard-list"></i>
            <span class="text requests">Requests</span>
        </div>
        <div class="help-others">
            <i class="fas fa-clipboard-list"></i>
            <span class="text help-others">Help Others</span>
        </div>
        <div class="registers">
            <i class="fas fa-clipboard-list"></i>
            <span class="text registers">Registers</span>
        </div>
        <div class="contact-us">
            <i class="fas fa-clipboard-list"></i>
            <span class="text contact-us">Contact Us</span>
        </div>
        <div class="settings">
            <i class="fas fa-cog"></i>
            <span class="text settings">Settings</span>
        </div>
    </div>
    <span class="logout">Logout</span>
</aside>