<aside class="sidebar">
    <div class="admin-tabs">
        <div class="profile tab focus">
            <i class="side-icon far fa-user-circle"></i>
            <span class="text profile">Profile</span>
        </div>
        <div class="donates tab">
            <i class="side-icon fas fa-clipboard-list"></i>
            <span class="text donates">Donates</span>
        </div>
        <div class="requests tab">
            <i class="side-icon fas fa-clipboard-list"></i>
            <span class="text requests">Requests</span>
        </div>
        <div class="help-others tab">
            <i class="side-icon fas fa-clipboard-list"></i>
            <span class="text help-others">Help Others</span>
        </div>
        <div class="registers tab">
            <i class="side-icon fas fa-clipboard-list"></i>
            <span class="text registers">Registers</span>
        </div>
        <div class="contact-us tab">
            <i class="side-icon fas fa-clipboard-list"></i>
            <span class="text contact-us">Contact Us</span>
        </div>
        <div class="settings tab">
            <i class="side-icon fas fa-cog"></i>
            <span class="text settings">Settings</span>
        </div>
        <a href="/admin/logout" class="logout">Logout</a>
    </div>
</aside>