<nav class="nav">
    <span class="logo">Enchance a Smile</span>
    <div class="current-admin">
        <i class="far fa-user-circle nav-icon"></i>
        <span class="admin-name">Admin-FullName</span>
    </div>
</nav>