<aside class="sidebar">
    <div class="admin-tabs">
        <div class="profile tab focus">
            <a href="/admin/profile" class="profile-a black"><i class="side-icon far fa-user-circle"></i>
                <span class="text">Profile</span></a>
        </div>
        <div class="donates tab">
            <a href="/admin/donates" class="donates-a"><i class="side-icon fas fa-clipboard-list"></i>
                <span class="text">Donates</span></a>
        </div>
        <div class="requests tab">
            <a href="/admin/requests" class="requests-a"><i class="side-icon fas fa-clipboard-list"></i>
                <span class="text">Requests</span></a>
        </div>
        <div class="helpOthers tab">
            <a href="/admin/help-others" class="helpOthers-a"><i class="side-icon fas fa-clipboard-list"></i>
                <span class="text">Help Others</span></a>
        </div>
        <div class="registers tab">
            <a href="/admin/registers" class="registers-a"><i class="side-icon fas fa-clipboard-list"></i>
                <span class="text">Registers</span></a>
        </div>
        <div class="contactUs tab">
            <a href="/admin/contact-us" class="contactUs-a"><i class="side-icon fas fa-clipboard-list"></i>
                <span class="text">Contact Us</span></a>
        </div>
        <div class="settings tab">
            <a href="/admin/settings" class="settings-a"><i class="side-icon fas fa-cog"></i>
                <span class="text">Settings</span></a>
        </div>
        <a href="/admin/logout" class="logout">Logout</a>
    </div>
</aside>