<nav class="nav">
    <span class="logo"><a href="/">Enchance a Smile</a></span>
    <div class="navigation">
        <a href="/#header" class="navigation--home">Home</a>
        <a href="/#vision" class="navigation--aboutus">About Us</a>
        <a href="/#how" class="navigation--how">How</a>
        <a href="/#footer" class="navigation--contactus">Contact Us</a>
    </div>
    <button class="donate"><a href="/donate" class="navigation--donate">Donate</a></button>
</nav>