* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.admin--information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: aqua;
    align-items: center
}

.admin--information-name {
    display: flex;
}

.full--name {
    color: #333;
    font-size: 28px
}