* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Roboto;
}

.admin--information {
    position: fixed;
    left: 296px;
    top: 50px;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center
}

.information--container {
    display: flex;
    flex-direction: column;
}

.admin--information-email, .admin--information-name, .admin--information-password, .admin--information-password-show {
    display: flex;
    margin-bottom: 40px;
}

.email--label, .full--name-label, .password--label {
    font-size: 25px;
    letter-spacing: 4px;
}

.email, .full--name, .password {
    color: #333;
    font-size: 25px;
    letter-spacing: 4px;
    margin-left: 10px
}

.fa-user-circle {
    font-size: 120px;
}

.user-profile-icon {
    margin-bottom: 45px;
    color: #333;
}

.fa-eye-slash, .fa-eye {
    font-size: 30px;
    margin-left: 12px
}

.total--donations {
    position: fixed;
    right: 40px;
    bottom: 40px
}

.hiden {
    display: none;
}