.main {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--header {
  width: 50%;
  height: 50px;
  font-size: 100%;
  margin-bottom: 20px;
  border: none;
  background: #E2E2E2;
}

.tabs {
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  border: none;
  background: #E2E2E2;
}

.main-tabs {
  display: flex;
}

.active {
  background: black;
  color: white;
}

.main--sendEmail, .main--emails {
  width: 80%;
  background: #E2E2E2;
  padding: 30px;
  height: 400px;
  overflow: auto;
}

.main--sendEmail {
  padding: 20px;
}

.main--mails {
  width: 100%;
}

.main-tital {
  text-align: initial;
}

.main-li {
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.main-li:nth-child(2n) {
  color: white;
  background: black;
}

.addEmail {
  border: none;
  background: none;
}

.main-li .fa-plus-circle {
  color: black
}

.main-li:nth-child(2n) .fa-plus-circle {
  color: white;
}

.main--form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.main-inputs {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px #aaa;
}

.main-textarea {
  width: 90%;
  height: 100px;
}

.main-label {
  margin-bottom: 10px;
}

.submit {
  background: #008326;
  font-size: 25px;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
}

.hide {
  display: none;
}