* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin-left: 250px;
}

.main {
    text-align: center;
    margin:70px 29px 15px 29px;
}

.taps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}


.tabs-button {
    width: 346px;
    height: 50px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #333;
}
.selected{
    width: 346px;
    height: 50px;
    font-size: 17px;
    letter-spacing: 1px;
    background: #333;
    color: #E2E2E2; 
}
.new{
    width: 346px;
    color: #fff;
    height: 50px;
    font-size: 17px;
    letter-spacing: 1px;
    background: #333; 
}
.card--taps{
    display: flex;
}
.card--tabs-button{
    width: 50%;
    height: 28px;
    font-size: 20px;
    letter-spacing: 3px
}
.cards--info {
    background: #E2E2E2;
    margin-bottom: 15px;
}
.cards--current,
.cards--new ,
.cards--done{
    display: flex;
    flex-direction: column;
height: 200px;
}
.cards--info-request,
.cards--info-personal{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    padding: 10px
}
.cards--info-personal-two,
.cards--info-personal-one{
    display: flex;
    flex-direction:column; 
    justify-content: space-between;
    font-size: 25px;
    align-items: self-start;
}


.hide {
    display: none;
}

.popUpsection {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.popUp {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 230px;
    border-radius: 5px;
    padding: 20px;
}

.mainParagraph {
    width: 310px;
}

.secondryParagraph {
    width: 310px;
    font-size: 12px;
}

.back {
    background: rgba(0, 131, 38);
    border: 1px solid rgba(0, 131, 38);
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    align-self: center;
}

.back:hover {
    background: rgba(0, 131, 38, 0.9);
}

.hide {
    display: none;
}