.container {
    position: relative;
    left: 200px;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.new--request-taps {
    display: flex;
    color: black;
    justify-content: space-between;
    margin: 20px auto;

}

.request--taps {
    display: flex;
    justify-content: space-around;
}

.request--tap {
    background-color: #E2E2E2;
    width: 33%;
    color: #333
}


.personal--information,
.request--details {
    display: flex;
    justify-content: space-around
}

.personal--information-sectiontwo,
.request--details-sectionone,
.request--details-sectiontwo,
.personal--information-sectionone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 49%
}

.personal--information-tap,
.request--details-tap {
    width: 49%;
    background-color: #E2E2E2;

}

.selected-tap {
    background-color: #333;
    color: #E2E2E2
}
.hiden{
    display: none;
}