<main class="main">
  <section class="main--section">
    <div class="main--tabs">
      <input type="submit" value="Registers" class="main--tabs">
      <input type="submit" value="Send Mails" class="main--tabs">
    </div>
    <div class="main--sendMail">
      <label for="to" class="main-label">To :</label>
      <input id="to" class="main-inputs">
      <label for="subject" class="main-label">Subject :</label>
      <input id="to" class="main-inputs">
      <label for="message" class="main-label">Message :</label>
      <textarea id="message" class="main-inputs main-textarea"></textarea>
      <input class="" type="submit" class="main-send">
    </div>
  </section>
</main>