<span class="header">Admin-Log in</span>
<form class="form">
    <label for="email" class="label">Email :</label>
    <input type="email" name="email" id="email" class="input" placeholder="Enter your email  ... " required>

    <label for="password" class="label">Password :</label>
    <input type="password" name="password" id="password" class="password input" placeholder="Enter your password  ... "
        required>

    <input type="button" name="login" id="login" class="login input" value="Login" required>
</form>