<div class ="container">
<div class="request--taps">
    <a class="new--requests request--tap">New Requestes </a>
    <a class="new--requests request--tap">Current Requestes </a>
    <a class="new--requests request--tap">Done Requestes </a>
</div>
<div class ="new--request">
<div class="new--request-taps">
    <a class="personal--information">Personal Info</a>
    <div></div>
    <a class ="request--details">Request Details</a>
</div>

</div>
</div>