<main class="donate">
  <section class="donate--taps">
    <div class="donate--taps--peronalInfo">
      <h2 class="donate--taps--peronalInfo_text">Personal Details</h2>
    </div>
    <div class="donate--taps--donationInfo">
      <h2 class="donate--taps--peronalInfo_text">Donation Details</h2>
    </div>
  </section>
  <section class="donate--form">
    <form>
      <label for="name" class="donate--form--label">Full Name</label>
      <input type="text" name="fullName" id="name" class="donate--form--name, input">
      <label for="phone" class="donate--form--label">Phone Number</label>
      <input type="number" name="phoneNumber" id="phone" class="donate--form--number, input">
      <label for="city" class="donate--form--label">City Name</label>
      <input type="text" name="cityName" id="city" class="donate--form--city, input">
      <label for="email" class="donate--form--label">Email</label>
      <input type="email" name="email" id="email" class="donate--form--email, input">
      <input type="submit" class="donate--form--submit">
    </form>
  </section>
</main>
