<div class="container">
    <span class="error-code">{{errorCode}}</span>
    <span class="error-keyword">Error</span>
    <span class="error-msg">{{errorMsg}}</span>
    <button class="go-back-btn">Back to Home</button>
</div>