<main class="main">
  <section class="main--header" id="header">
    <div class="main--header-title">
      <div class="main--header-titleWhite">Make A Smile,</div>
      <div class="main--header-titleGreen">Share Happiness</div>
    </div>
    <div class="main--header-star">
      <div class="main--header-starGreen"></div>
      <div class="main--header-starGray"></div>
    </div>
    <div class="main--header-description">
      <p class="main--header-description-p">
        Help Us Save Lives with Your Donation<br>
        Support of ongoing patrons like you powers our awareness programs, training programs, provide patient support
        Support of ongoing patrons like you powers our awareness programs, training programs, provide patient support
        Support of ongoing patrons like you powers our awareness programs, training programs, provide patient support
        Support of ongoing patrons like you powers our awareness programs, training programs, provide patient support
        and
        conduct hospital programs to improve organ donation rate in India.
      </p>
      <div class="main--header-description-request">
        <button class="main--header-forYou"><a href="/request" class="main--header-request">For You</a></button>
        <button class="main--header-helpOthers"><a href="/help-others" class="main--header-request">Help
            Others</a></button>
      </div>
    </div>
  </section>

  <section class="main--header-ourVision" id="vision">
    <div class="main--header-ourVisionWhat">
      <h1 class="main--header-ourVision-h1">What we do?</h1>
      <p class="main--header-ourVision-p">We provide a service for people to donate reusable items from the convenience
        of your house. Avail doorstep pickup and get your donations delivered to the ones in need. We make sure your
        donations reach someone who really requires them by delivering them to the beneficiaries directly. We will come
        to your doorstep to pick up the donations at the appointed time and deliver them to the right people who really
        need them.</p>
    </div>
    <div class="main--header-ourVisionVision">
      <h1 class="main--header-ourVision-h1">Our vision</h1>
      <p class="main--header-ourVision-p">We aim to provide clothes and more in the future for all poor people in Gaza
        and Palestine. We want to encourge all people to donate their unneeded and reusable stuff for other poor people
        in need. We aim for all people in need to focus on things other than clothes and food like education and more
        productive for there families.</p>
    </div>
  </section>

  <section class="main--header-how" id="how">
    <div class="main--header-howDonate">
      <h1 class="main--header-how-h1">How to Donate</h1>
      <p class="main--header-how-p">To donate throw our website/service you need to click the donate button above and
        then you will be asked to fill a two step form. First provide us some personal information for us to contact you
        afterwards and in the second step you will be asked to to provide us general information about your donation.
      </p>
    </div>
    <div class="main--header-howBenefit">
      <h1 class="main--header-how-h1">How to Benefit </h1>
      <p class="main--header-how-p">In the top of this page you will find two buttons to request donations throw our
        service either for your self or for other people in need. You will be asked to fill a two step form, in the
        first step provide us some personal information and in the second step provide us some general information about
        your request.</p>
    </div>
  </section>
</main>

<footer class="footer" id="footer">
  <div class="footer--contactUs">
    <h1 class="footer--contactUs-h1">Contact Us</h1>
    <div class="footer--contactUsContainer">
      <form class="footer--contactUs-form">
        <label for="fullName">
          <input id="fullName" class="footer-inputs" type="text" name="fullName" placeholder="Enter your Full Name ..."
            required>
        </label>
        <label for="email">
          <input id="email" class="footer-inputs" type="email" name="email" placeholder="Enter your Email ..." required>
        </label>
        <label for="message">
          <textarea id="message" class="footer-inputs contactUs--formMessage" type="text" name="message"
            placeholder="Enter your Message ..." required></textarea>
        </label>
        <button class="footer--contactUs-formSubmit" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="footer--register">
    <h3 class="footer--registerMsg1">REGISTER FOR OUR EMAIL UPDATE </h3>
    <h5 class="footer--registerMsg2">Stay up to date with our events</h5>
    <form class="footer--form">
      <label for="registerEmail">
        <input id="registerEmail" class="footer--form-registerEmail footer-inputs" type="email" name="email"
          placeholder="Enter your Email ..." required>
      </label>
    </form>
    <h3 class="footer--connectionMsg1">STAY CONNECTED WITH</h3>
    <h4 class="footer--connectionMsg2">Enhance A Smile</h5>
      <div class="footer--connectionIcons">
        <img class="footer--connectionIcon" alt="facebook" src="icons/facebook.png">
        <img class="footer--connectionIcon" alt="googlePlus" src="icons/google-plus.png">
        <img class="footer--connectionIcon" alt="twitter" src="icons/twitter.png">
        <img class="footer--connectionIcon" alt="telegram" src="icons/telegram.png">
        <img class="footer--connectionIcon" alt="youtube" src="icons/youtube.png">
      </div>
  </div>
</footer>
{{!-- pop-up --}}
<div class="popup">
  <div class="popup--content">
    <h2 class="popup--content-message"></h2>
    <input class="popup--content-Done" value="Done" type="button">
    <h4 class="popup--content-autoMessage">By using our service you push us a step forward to achieving our <a href="/"
        class="popup--content-vision">vision</a></h4>
  </div>

</div>