<main>
  <section class="nav--form">
    <div class="nav--form-sections">Personal Details</div>
    <div class="nav--form-sections">Your Request</div>
  </section>
  <section class="pesonal--section">
    <form class="personal--details">
      <label for="full--name" class="personal--details-label">Full Name :</label>
      <input
        type="text"
        placeholder="Enter Your Full Name ... "
        id="full--name"
        class="full--name-form input"
        name="fullName"
        required
      /><span class="full--name-span"></span>

      <label for="phone--number" class="personal--details-label">Phone Number :</label>
      <input
        type="text"
        placeholder="Enter Your Phone Nmuber ... "
        id="phone--number"
        class="phone--number-form input"
        name="phoneNumber"
        required
      /><span class="phone--number-span"></span>

      <label for="city--name" class="personal--details-label">City Name :</label>
      <input
        type="text"
        placeholder="Enter Your City Name ... "
        id="city--name"
        class="city--nam-form input"
        name="cityName"
        required
      /><span class="city--name-span"></span>

      <label for="street--name" class="personal--details-label">Street Name :</label>
      <input
        type="text"
        placeholder="Enter Your City Name ... "
        id="street--name"
        class="street--name-form input"
        name="streetName"
        required
      /> <span class="street--name-span"></span>
      <input
        type="button"
        name="Next"
        value="Next"
        id="next--button"
        class="next--button"
        required
      />
    </form>
  </section>
  <section class="request--section">
    <form class="your--request ">
      <label for="number--of-pieces" class="your--request-label">Number of pieces :</label>
      <input
        type="text"
        placeholder="Enter number of pieces ... "
        id="number--of-pieces"
        class="number--of-pieces input" 
        name="numberOfPieces"  required
      />
      <div>
        <label for="gender">Gender :</label>
        <input type="checkbox" name="genderWomen" class="gender" id="women" /><lable for="women">Women</lable>
        <input type="checkbox" name="genderMen" class="gender" id="men"/> <lable for="men">Men</lable>
        <input type="checkbox" name="genderKids" class="gender" id="kids"/><label for="kids">Kids</label>
      </div>
      <div>
        </fieldset class="season--fieldset">
          <label for="season">Season :</label>
          <input type="checkbox" name="season" class="season" id="winter" value="winter"/><label for="winter">Winter</label>
          <input type="checkbox" name="season" class="season" id="summer" value="summer"/><label for="summer">Summer</label>
          <input type="checkbox" name="season" class="season" id="spring" value="spring"/><label for="spring">Spring</label>
          <input type="checkbox" name="season" class="season" id="autumn" value="autumn"/><label for="autumn">Autumn</label>
        <fieldset>
          
      </div>
      <div>
          <label for="description">Description <span class="optional">(opthional)</span> :</label >
          <textarea
            name="descrption"
            placeholder="Enter description about your request" ></textarea>
      </div>
      <input
        type="submit"
        name="submit"
        value="submit"
        class="request--submit"
        id="request--submit"
      />
    </form>
  </section>
  {{!-- <section class="popUpBack hide">
    <div class="popUp ">
      <p class="mainParagraph">Thank you for your generosity, we appreciate what you have done today</p>
      <input type="button" value="Back To Home" class="back">
      <p class="secondryParagraph">By using our service you push us a step forward to achieving our vision</p>
    </div>
  </section> --}}
</main>
