<main>
  <section class="nav--form">
    <div class="nav--form--sections">Personal Details</div>
    <div class="nav--form--sections">Your Request</div>
  </section>
  <section >
    <form class="personal--details">
      <label for="full--name" class="personal--details--label">Full Name :</label>
      <input
        type="text"
        placeholder="Enter Your Full Name ... "
        id="full--name"
        class="full--name--form input"
        name="fullName"
      />

      <label for="phone--number" class="personal--details--label">Phone Number :</label>
      <input
        type="text"
        placeholder="Enter Your Phone Nmuber ... "
        id="phone--number"
        class="phone--number--form input"
        name="phoneNumber"
      />

      <label for="city--name" class="personal--details--label">City Name :</label>
      <input
        type="text"
        placeholder="Enter Your City Name ... "
        id="city--name"
        class="city--nam--form input"
        name="cityName"
      />

      <label for="street--name" class="personal--details--label">Street Name :</label>
      <input
        type="text"
        placeholder="Enter Your City Name ... "
        id="street--name"
        class="street--name--form input"
        name="streetName"
      />
      <input
        type="button"
        name="Next"
        value="Next"
        id="next--button"
        class="next--button"
      />
    </form>
  </section>
  <section class="your--request">
    <form class="your--request">
      <label for="number--of--pieces" class="your--request--label">Number of pieces :</label>
      <input
        type="text"
        placeholder="Enter number of pieces ... "
        id="number--of--pieces"
        class="number--of--pieces input"
      />
      <div>
        <label for="gender">Gender :</label>
        <input type="checkbox" name="genderWomen" class="gender" id="women" /><lable for="women">Women</lable>
        <input type="checkbox" name="genderMen" class="gender" id="men"/> <lable for="men">Men</lable>
        <input type="checkbox" name="genderKids" class="gender" id="kids"/><label for="kids">Kids</label>
      </div>
      <div>
          <label for="season">Season :</label>
          <input type="checkbox" name="seasonWinter" class="season" id="winter"/><label for="winter">Winter</label>
          <input type="checkbox" name="seasonSummer" class="season" id="summer"/><label for="summer">Summer</label>
          <input type="checkbox" name="seasonSpring" class="season" id="spring"/><label for="spring">Spring</label>
          <input type="checkbox" name="seasonAutumn" class="season" id="autumn"/><label for="autumn">Autumn</label>
      </div>
      <div>
          <label for="description">Description <span class="optional">(opthional)</span> :</label >
          <textarea
            name="descrption"
            placeholder="Enter description about your request" ></textarea>
      </div>
      <input
        type="submit"
        name="submit"
        value="submit"
        class="donate--submit"
        id="request--submit"
      />
    </form>
  </section>
</main>
